nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li#titulo {
    margin-right: auto;
}

nav ul li#titulo h2 {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #ddd;
    text-decoration: none;
}

#logout {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#logout:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

form a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}
